@import "../layout/block";

@include block( "block" );

.bmfbe-block {
	font-size: 0.8rem;

	&__override-supports {
		padding: 0 1rem;
	}

	.collapsible__wrapper {
		border-right-width: 0;
		border-left-width: 0;

		&:last-child {
			border-bottom-width: 0;
		}

		&--access {
			.collapsible__item__contentInner {
				padding: 0;
			}
		}
	}
}
