@import "~@wordpress/base-styles/colors";
@import "../layout/block";

@include block( "block" );

.bmfbe-block {
	&__override-supports {
		padding: 0 1rem;
	}

	.accordion {
		border: 0;

		&__item {
			border-top: 1px solid $gray-200;

			&--access {
				.accordion__panel {
					padding: 0;
				}
			}
		}

		&__button {
			.components-base-control__field {
				margin: 0;
			}
		}
	}
}
