@import "../layout/themes";
@import "../layout/utils";

input[type="checkbox"]:indeterminate::before {
	display: inline-block;
	float: left;
	width: 1.3125rem;
	height: 1.3125rem;
	margin: -0.1875rem 0 0 -0.25rem;

	vertical-align: middle;

	content: url(minus-svg());
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@each $theme, $color in $wp-themes {
		&.admin-color-#{$theme} {
			input[type="checkbox"]:indeterminate::before {
				content: url(minus-svg($color));
			}
		}
	}
}
