@import "~@wordpress/base-styles/colors.native";
@import "~@wordpress/base-styles/variables";

.bmfbe-not-found {
	margin-top: $grid-unit-40 * 2;
	padding: $grid-unit-40;

	text-align: center;

	&__icon {
		svg {
			fill: $gray-20;
		}
	}

	&__label {
		margin: 1rem 0;
	}
}
