@import "~@wordpress/base-styles/colors";
@import "../layout/animations";

.bmfbe-status-icon {
	display: flex;
	align-items: center;

	.icon {
		margin: 4px 0.5rem 0 0;

		&--check {
			color: $alert-green;

			animation: bmfbe-disappear 300ms 800ms ease-out forwards;

			fill: $alert-green;

			@include reduce-motion( "animation" );
		}

		&--cloud {
			color: $alert-yellow;

			animation: bmfbe-light-blink 1.6s ease-in-out infinite;

			fill: $alert-yellow;

			@include reduce-motion( "animation" );
		}

		&--loading {
			stroke-dashoffset: 0;

			transition: stroke-dashoffset 1s linear;
			stroke-width: 1em;
			animation: bmfbe-rotation 1.6s ease-out infinite;

			@include reduce-motion( "animation" );

			.bar {
				stroke: $alert-yellow;
			}
		}
	}

	&__percentage {
		&.is-finished {
			animation: bmfbe-disappear 300ms 800ms ease-out forwards;

			@include reduce-motion( "animation" );
		}
	}
}
