@import "~@wordpress/base-styles/colors";
@import "../layout/animations";

.bmfbe-status-icon {
	width: 20px;
	@include reduce-motion("animation");

	.icon {
		&--check {
			color: $alert-green;

			animation: bmfbe-disappear 800ms ease-out forwards;

			fill: $alert-green;
		}

		&--cloud {
			color: $alert-yellow;

			animation: bmfbe-light-blink 1.6s ease-in-out infinite;

			fill: $alert-yellow;
		}

		&--loading {
			stroke-dashoffset: 0;

			transition: stroke-dashoffset 1s linear;
			stroke-width: 1em;
			animation: bmfbe-rotation 1.6s ease-out infinite;

			.bar {
				stroke: $alert-yellow;
			}
		}
	}
}
