@import "~@wordpress/base-styles/colors";

.bmfbe-supports {
	margin: 0 0 1rem;

	background: $white;
}

.bmfbe-supports-settings {
	padding: 1rem 1.5rem;

	border-top: 1px solid $gray-200;

	&:first-child {
		border-top-width: 0;
	}

	&__values {
		padding-left: 1.5rem;
	}
}

.collapsible__wrapper--supports {
	.collapsible__wrapper {
		border-right-width: 0;
		border-left-width: 0;
	}

	.collapsible__item__contentInner {
		padding: 0;
	}
}
