@keyframes bmfbe-disappear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes bmfbe-light-blink {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

@keyframes bmfbe-rotation {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes bmfbe-notice-slide-in {
	0% {
		top: 100%;
	}
	100% {
		top: 0;
	}
}

@keyframes bmfbe-notice-slide-out {
	0% {
		top: 0;
	}
	100% {
		top: 100%;
	}
}
