@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/variables";

.toplevel_page_bmfbe-settings,
.toplevel_page_bmfbe-settings.auto-fold {
	#wpcontent {
		padding-left: 0;
	}

	.update-nag {
		margin-bottom: 20px;
		margin-left: 22px;
	}
}

.bmfbe-settings {
	&__header {
		background: $white;
	}

	&__title-section {
		display: flex;
		align-items: center;
		justify-content: center;

		text-align: center;

		h1 {
			display: inline-block;
			margin: 0 0.8rem 1rem;
			padding: 9px 0 4px 0;

			font-weight: 600;
			font-size: 23px;
			line-height: 1.3;
		}
	}
}
